@import url('./main.css');
.video16x19{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video16x19 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kolBtn{
    /* background-color: var(--color-brown); */
    opacity: 1;
    z-index: 0;
    width: 48px;
    height: 48px;
    bottom: 0;
    top: initial;
    transition: .3s;
}
/* .kolBtn:hover{
    background-color: var(--color-brown5f);
} */
.carousel-control-prev{
    right: 48px;
    left: initial;}
.article a img{
    transition: all 1s ease 0s;
}
.article a:hover img{
    transform: scale(1.2);
    transition: all 1s ease 0s;
}
.service img{
    width: 100px;
}
.service span{
    color: var(--color-brownDeep);}